<style>
    footer {
        margin-top: 10px;
        position: relative;
        bottom: 0;
    }

    .footer-container {
        margin-top: 10px;
        position: sticky;
        bottom: 0;
        width: 100vw;
    }
</style>

<body>
    <footer class="text-primary bg-black mt-4">
        <div class="d-flex align-items-center justify-content-evenly pt-3">
            <ul class="d-flex list-unstyled text-center">
                <li class="mx-2"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li class="mx-2"><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="mx-2"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="mx-2"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li class="mx-2"><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="d-flex align-items-center justify-content-evenly">
            <ul class="d-flex list-unstyled text-center">
                <li class="mx-2"><a href="/" style="text-decoration: none;">Home</a></li>
                <li class="mx-2"><a href="../contact" style="text-decoration: none;">Contact Us</a></li>
                <li class="mx-2"><a href="../about" style="text-decoration: none;">About</a></li>
                <li class="mx-2"><a href="../signup" style="text-decoration: none;">Register</a></li>
            </ul>
        </div>
        <div class="text-white d-flex align-items-center justify-content-evenly">
            <h6>Copyright &copy; 2024 Yoga.Fitness</h6>
        </div>
    </footer>
</body>