<% layout('/layouts/boilerplate') %>

    <style>
        .main-bg-about-us {
            backdrop-filter: blur(25px);
            color: white;
            margin: 1.5rem;
            border-radius: 1rem;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            grid-auto-flow: dense;
        }

        .image-left {
            content: url('/assets/yoga2.jpg');
            object-fit: cover;
            border-radius: 1rem;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            display: inline-block;
        }

        .content-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
    </style>

    <body>
        <div class='main-bg-about-us'>
            <div class='image-left'></div>
            <div class='content-right'>
                <h2>Introduction</h2>
                <p>hbeksrurshu ffh fh rufhrwhf rh furh furwh fh jnenjnjkvnevo eoc hoc heio coti joite oi oie jioej ij
                    ipej igpjiej giej i jeigj 4ti jt4ij tigj tigj 4ti gjoit joi4 oi4h goi4 gio4 hli hgo hgith ocg
                    t4hocgh t4ogch 4ogh 4uog h4tuohe hg4t hgwrfh rwofhrrf hrwh rh wrh rhw rh huohor hwrf hrfh r hhurh
                    ure htuerh uerh u herugh eugh eug her hguer her hgueg eh herh erhhu hug htukg kegh ke hgkrh grh kgrh
                    gh g.</p>
                <h2>Our Story</h2>
                <p>hbeksrurshu ffh fh rufhrwhf rh furh furwh fh wrfh rwofhrrf hrwh rh wrh rhw rh huohor hwrf hrfh r
                    hhurh ure htuerh uerh u herugh eugh eug her hguer henenlijgie jgioej go jigj igj lej liej l lj li
                    gijgeh hegj eijgioj4t igjlg 4lg 4hg4 g 4tgjbt4g4t gt4 gt4 g4t g4tbgt4kg 4r hgueg eh herh erhhu hug
                    htukg kegh ke hgkrh grh kgrh gh g.</p>
            </div>
            <div class='image-left'></div>
            <div class='content-right'>
                <h2>Introduction</h2>
                <p>hbeksrurshu ffh fh rufhrwhf rh furh furwh fh jnenjnjkvnevo eoc hoc heio coti joite oi oie jioej ij
                    ipej igpjiej giej i jeigj 4ti jt4ij tigj tigj 4ti gjoit joi4 oi4h goi4 gio4 hli hgo hgith ocg
                    t4hocgh t4ogch 4ogh 4uog h4tuohe hg4t hgwrfh rwofhrrf hrwh rh wrh rhw rh huohor hwrf hrfh r hhurh
                    ure htuerh uerh u herugh eugh eug her hguer her hgueg eh herh erhhu hug htukg kegh ke hgkrh grh kgrh
                    gh g.</p>
                <h2>Our Story</h2>
                <p>hbeksrurshu ffh fh rufhrwhf rh furh furwh fh wrfh rwofhrrf hrwh rh wrh rhw rh huohor hwrf hrfh r
                    hhurh ure htuerh uerh u herugh eugh eug her hguer henenlijgie jgioej go jigj igj lej liej l lj li
                    gijgeh hegj eijgioj4t igjlg 4lg 4hg4 g 4tgjbt4g4t gt4 gt4 g4t g4tbgt4kg 4r hgueg eh herh erhhu hug
                    htukg kegh ke hgkrh grh kgrh gh g.</p>
            </div>
            <div class='image-left'></div>
            <div class='content-right'>
                <h2>Introduction</h2>
                <p>hbeksrurshu ffh fh rufhrwhf rh furh furwh fh jnenjnjkvnevo eoc hoc heio coti joite oi oie jioej ij
                    ipej igpjiej giej i jeigj 4ti jt4ij tigj tigj 4ti gjoit joi4 oi4h goi4 gio4 hli hgo hgith ocg
                    t4hocgh t4ogch 4ogh 4uog h4tuohe hg4t hgwrfh rwofhrrf hrwh rh wrh rhw rh huohor hwrf hrfh r hhurh
                    ure htuerh uerh u herugh eugh eug her hguer her hgueg eh herh erhhu hug htukg kegh ke hgkrh grh kgrh
                    gh g.</p>
                <h2>Our Story</h2>
                <p>hbeksrurshu ffh fh rufhrwhf rh furh furwh fh wrfh rwofhrrf hrwh rh wrh rhw rh huohor hwrf hrfh r
                    hhurh ure htuerh uerh u herugh eugh eug her hguer henenlijgie jgioej go jigj igj lej liej l lj li
                    gijgeh hegj eijgioj4t igjlg 4lg 4hg4 g 4tgjbt4g4t gt4 gt4 g4t g4tbgt4kg 4r hgueg eh herh erhhu hug
                    htukg kegh ke hgkrh grh kgrh gh g.</p>
            </div>
        </div>
    </body>