.main-bg-about-us{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}
.image-left{
    display: flex;
    align-items: center;
    justify-content: center;
    content: url('/public/statics/yoga2.jpg');
    height: 100%;
    width: 50%;
}

.content-right{
    display: block;
    padding: 10px;
    height: 100%;
    width: 50%;
    overflow-y: auto;
}
